@font-face {
  font-family: sync;
  src: url(font/Dx-Slight-SemBd-Slim.otf);
}
@font-face {
  font-family: pop;
  src: url(font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: stant;
  src: url(font/Dx-Slight-SemBd-Slim-Slant.otf);
}
li a{
  color: white;
  text-decoration: none;
}
body {
  background-color: #232323;
  scroll-behavior: smooth;
}


.talk {
  background: #d9d9d9;
  display: flex;
  align-items: center;
  margin-right: 40px;
  border-radius: 10px;
}
.talk button {
  background-color: #d9d9d9;
  border: none;
  font-family: pop;
  font-size: 22px;
}

.hero h1 {
  font-family: sync;
  
  /* font-size: 190px; */
  text-align: center;
  
}
#sp1 {
  background: linear-gradient(90deg, #555, #e4e4e4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#sp2 {
  background: linear-gradient(-90deg, #555, #e3e3e3 57.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#sp3 {
  background: linear-gradient(90deg, #e4e4e4, #5555);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rec {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  height: 332px;
  width: 321px;
}
.rec4 {
  margin-top: -20.9rem;
  margin-right: 10px;
  /* width: 296px;
  height: 281px;
  flex-shrink: 0; */
}
.men {
  margin-top: -21.1rem;
  margin-left: -20px;
  width: 323.447px;
  height: 335.896px;
  transform: rotate(-0.485deg);
  flex-shrink: 0;
}
.doe h1 {
  color: #fff;
  font-family: sync;
  font-size: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 4%;
}
.exp {
  display: flex;
  justify-content: space-evenly;
}
.val {
  display: flex;
  flex-direction: column;
  /* margin-left: 70px; */
  margin-top: -2%;
}
.val h1 {
  font-family: sync;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #fff, rgba(114, 109, 109, 0.73));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ser {
  margin: 25px;
  width: 207px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 23px;
  border: 1px solid #c5c5c5;
  background: rgba(217, 217, 217, 0);
}
.ser h1 {
  color: #f5f2f2;
  font-family: pop;

  font-size: 24px;

  /* font-weight: 100; */

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}
.news-container {
  white-space: nowrap;
  animation: scrollText 30s linear infinite;
  background: #000;
  color: #fff;
  width: 100%;
  display: flex;
  gap: 90px;
  font-family: stant;
}
.news-containerr {
  white-space: nowrap;
  animation: scrollTex 30s linear infinite;
  background: #c5c5c5;
  color: black;
  width: 100%;
  display: flex;
  gap: 90px;
  font-family: stant;
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scrollTex {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
.news {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;

  color: white;
}
.news2 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c5c5c5;

  color: black;
}
.scrolling-text {
  display: inline-block;
  animation: scrollText 20s linear forwards;
}
.about {
  display: flex;
  justify-content: space-evenly;
}
.left {
  font-family: sync;
  color: #e1dbdb;
}
#sp1,#sp2,#sp3 {
  background: linear-gradient(271deg, #6e6e6e 0.3%, #f2f2f2 103.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 190px;
  padding: 12px;
}
.left h1 {
  font-size: 40px;
}
.left p {
  color: #c5c5c5;

  font-size: 25px;
  font-style: normal;
}
.arrow {
  display: flex;
  width: 128px;
  height: 38px;
  flex-shrink: 0;
  border: 1px solid #f3eeee;
  background: rgba(217, 217, 217, 0);
}
.arrow button {
  background-color: transparent;
  border: none;
  color: #c5c5c5;
  font-size: 20px;
  font-family: sync;
  margin-left: 4px;
}
.right img {
  margin-top: 60px;
}
.service {
  color: #fff;
}
.h1 {
  font-family: sync;
  display: flex;
  margin-left: 16%;
  margin-top: 5%;
}
.service-container {
  margin-left: 16%;
}
.service-box {
  display: flex;
  justify-content: space-between;
}
.service-box h1 {
  font-family: sync;
}
.service-box p {
  font-family: pop;
  /* text-align: center; */
  display: flex;

  align-items: center;
}
.squre {
  margin-right: 25%;
  border: 1px solid #b3b3b3;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
.squre img {
  margin-top: 15px;
  margin-left: 17px;
}

.p {
  margin-left: 8px;
}
.project h1 {
  color: #e4e4e4;
  font-family: sync;
  font-size: 40px;
}
.project {
  margin-left: 15%;
}
.list-img {
  height: 623;
  width: 970;
  display: flex;
  margin-top: 2%;
  gap: 5%;
}
.img-part img {
  width: 300px;
  height: 289px;
  /* flex-shrink: 0; */
  /* background: #D9D9D9; */
}
.scale h1 {
  font-family: sync;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #434343;
  /* margin-top: 4%; */
}
footer {
  background: #d9d9d9;
  width: 100%;
  margin-left: 5px;
  height: 362px;
}
.company {
  margin-top: 30px;
  font-family: sync;
  display: flex;
  color: #434343;
  margin-left: 8%;
}
.company h1 {
  font-size: 60px;
}
.condition {
  display: flex;

  margin-left: 25%;
  margin-top: 1.5%;
  font-size: 30px;
  gap: 30px;
}
.social {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: 25%;
}
.social img {
  height: 25px;
  width: 45px;
}
footer p {
  text-align: center;
  font-family: sync;
  font-size: 20px;
  color: #434343;
}

/* mobile responsive */
@media only screen and (max-width: 600px) {
  .center {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 30px;
  }
  .v-class {
    opacity: 0;
    /* flex-direction: column; */
  }

  .center:before,
  .center:after,
  .center div {
    background: #c5c5c5;
    content: "";
    display: block;
    height: 4px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }

  .center.active:before {
    transform: translateY(12px) rotate(135deg);
  }

  .center.active:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .center.active div {
    transform: scale(0);
  }

  
  #sp1,#sp2,#sp3 {
    font-size: 40px;
    padding: 5px;
  }
  #sp2 {
    margin-top: -10%;
  }
  .doe h1 {
    font-size: 25px;
  }
  .exp {
    display: flex;
    flex-direction: column;
    margin-top: 22%;
   
    text-align: center;
  }
  .ser {
    margin-left: 20%;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .service {
    display: flex;
    flex-direction: column;
    margin-left: -15%;
  }
  .line-ser {
    width: 320px;
  }
  .service-box {
    gap: 10%;
    text-align: center;
    margin-left: -3%;
    display: flex;
    flex-direction: column;
  }
  .box1 {
    display: none;
  }
  .box2 {
    display: none;
  }
  .box3 {
    display: none;
  }
  .box4 {
    display: none;
  }
  .left h1 {
    text-align: center;
  }
  .h1 h1 {
    margin-left: 25%;
  }
  .project h1 {
    text-align: center;
  }
  .list-img {
    display: flex;
    flex-direction: column;
    margin-left: -15%;
    width: 320px;
  }
  footer {
    width: 100%;
  }
  .scale h1 {
    font-size: 40px;
  }
  .company {
    display: flex;
    flex-direction: column;
  }
  .company h1 {
    font-size: 30px;
    text-align: center;
    margin-top: -10%;
  }
  .condition {
    font-size: 20px;
    margin-left: 15%;
    margin-top: -12%;
  }
  .social a {
    margin-left: 22%;
  }
  .x {
    margin-right: 20%;
  }
  footer p {
    margin-top: 25%;
    font-size: 18px;
  }
  .right img {
    width: 300px;
    margin-left: 5%;
  }
  .arrow {
    margin-left: 25%;
  }
  #res {
    display: none;
  }

}

/* mobiless */


.logo{
  font-family:sync ;
  font-size: 45px;
}
nav {
  
  height: 100px;
  display: flex;
  
  align-items: center;
}
.nav-bar {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  list-style: none;
}
.menu {
  display: flex;
}
.menu li {
  padding-left: 20px;
  font-family: pop;
}
.menu li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: white;
  height: 1px;
  transition: 0.15s ease-in-out;
}
a {
  color: white;
  text-decoration: none;
}
.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  display: none;
}
.open-menu {
  /* top: 50%; */
  top: 20px;
  right: 10px;
  transform: translate(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}
@media (max-width: 610px) {
  .logo{
    font-size: 30px;
    margin-top: -53px;
    
  }
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    
    background-color: #000;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,.close-menu{
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}

@media (min-width: 1000px) {
  header{
    position: sticky;
    align-items: center;
    backdrop-filter: blur(10px); /* Set the blur amount as needed */
    top: 0;
    z-index: 1000;
    transition: backdrop-filter 0.3s ease-in-out;
    
  }
  .nav-bar{
    justify-content: space-evenly;
  }
}
